<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatBot Page</title>
    <link rel="stylesheet" href="./css/main.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">



</head>

<body>
    <div>
        <!-- <img class="Embedded" src="/images/Embedded.webp" />-->
        <ul>
            <li class="home"><a href="#home">Home</a></li>
            <li class="contact"><a href="#contact">Contact</a></li>
            <li class="about"><a href="#about">About</a></li>
        </ul>
    </div>


    <div class="container" style="margin-top: 58px;"> <!--cái margin-top để đẩy dòng chữ dịch lên-xuống-->

        <h1 class="text-center">Chatbot App</h1>
        <!--Làm cái khung xám cho mục chatbot-->

        <!-----------------------------Tạo ảnh con Bot, Trạng thái online --------------------------------------------------->


        <div class="media" style="height: 95px; background-color: whitesmoke;">
            <!--Chèn ảnh biểu tượng cho con Chatbot
            Nguồn của ảnh(src), tạo 1 lớp vòng tròn(rounded-circle), Để nó nổi hình bên trái(float-left), ảnh thu nhỏ(img-thumbnail)
            Chiều rộng(width), k có giá trị (alt)-->
            <img src="/images/anhchatbot.jpg" style="float:left; margin:15px"
                class="rounded-circle float-left img-thumbnail" width="60px" alt="..." />

            <!--class này để đi kèm với phần thân bên trong(media-body), h5 cách lề 10px (margin:10px)-->
            <div class="media-body" style="float:left;">
                <h5 style="margin:10px; margin-top: 15px;">Chatbot</h5>
                <span style="margin-left: 10px; color:rgb(32,199,32);">online</span>
            </div>
        </div>


        <!-----------------------------Khung nhập to nhất bao chatBot ------------------------------------------------------>

        <!--(id) khôi này rất quan trọng vùng chứa trò chuyện, khung to nhất bao hết chatbot(class)-->
        <div id="chatContainer" class="container border overflow-auto" style="height:300px">

        </div>


        <!-----------------------------Khung nhập tin nhắn ở dưới, gửi tin ------------------------------------------------->


        <!--nhóm phần send chung với khung nhập tn tạo(class input)-->
        <div class="input-group">
            <!--Nhập văn bản(type), Biểu mẫu (from-control) để điều khiển cho lớp bootstrap, 
            cung cấp thông tin input (id)tham chiếu sd đầu vào lấy văn bản -->
            <input id="textbox" type="text" class="form-control" />

            <!--Hình ảnh vs input tiếp theo hiện thị cạnh nhau-->
            <div class="input-group-append">

                <!-- (class btn-primary) làm màu nền xanh lam-->
                <button id="sendBtn" type="button" class="btn btn-primary">Send</button>
            </div>

        </div>





    </div>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

    <!--Gọi đến file scripts.js/ file này làm nút nhấn send-->
    <script src="./js/scripts.js"></script>

</body>

</html>